# Copie para .env e ajuste se necessário:  cp .env.example .env

# Spark
SPARK_MASTER_WEBUI=8080
SPARK_MASTER_PORT=7077
SPARK_WORKER_WEBUI=8081
SPARK_WORKER_MEMORY=2G
SPARK_WORKER_CORES=2

# Hadoop / HDFS
HDFS_NAMENODE_UI=9870
HDFS_NAMENODE_RPC=9000

# Kafka
KAFKA_PORT=9092
KAFKA_UI_PORT=8083

# Airflow
AIRFLOW_PORT=8082
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
